
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <title>Stone Clinic</title>
</head>
<style>
    a:link, a:visited {
        background-color: indianred;
        color: white;
        padding: 5px 10px;
        display: inline-block;
    }

    a:hover, a:active {
        background-color: green;
    }
</style>
    <center>   
        <img src="~/NewFolder/WhatsApp Image 2022-05-09 at 11.57.39 AM.jpeg" height="50" width="50" /><h1>WELCOME TO STONE CLINIC</h1><hr /><hr />
    </center>
    <style>
        body {
            background-image: url("https://cbsnews3.cbsistatic.com/hub/i/r/2017/09/07/b15bc0af-2911-46ac-8ccc-8a80d631b6ef/thumbnail/1200x630/763b93b34c84adfd9c949c5752ce4732/istock-619963760.jpg");
            background-size: cover;
        }
    </style>
    @*<body style="background-image: url('https://cbsnews3.cbsistatic.com/hub/i/r/2017/09/07/b15bc0af-2911-46ac-8ccc-8a80d631b6ef/thumbnail/1200x630/763b93b34c84adfd9c949c5752ce4732/istock-619963760.jpg') ">*@
        <div class="header">
            <div class="navbar">
                <a href="AddDoctor">ADD DOCTOR</a>
                <a href="AddPatient">ADD PATIENT</a>
                <a href="AddApointment">ADD APPOINTMENT</a>
                <a href="CancelApointment">CANCEL APPOINTMENT</a>
                <a href="Index" class="right">LOG OUT</a>
            </div>
        </div><hr /><hr />

        <h1>ABOUT:</h1>
        <div style="font-style:italic">
            <div style="background-color:lightblue"></div>
            <p>
                clinic, an organized medical service offering diagnostic, therapeutic, or preventive outpatient services. Often, the term covers an entire medical teaching centre, including the hospital and the outpatient facilities. The medical care offered by a clinic may or may not be connected with a hospital.
                The Stone Clinic is founded on the goal of rehabilitating all patients to an operating level higher than before they were injured. The Stone Clinic specializes in sports medicine and injury treatment of knee, shoulder, and ankle joints. Stone has lectured and is recognized internationally as an authority on cartilage and meniscal growth, 
                replacement, and repair. Stone and the Stone Clinic are known for the development of the paste grafting surgical technique in 1991, combined with meniscus replacement, which are biologic joint replacement procedures for the regeneration of the knee joint.
                Surgical procedures were subjected to rigorous outcomes analysis with the results reported in peer reviewed journals. The surgical techniques have been taught to surgeons in the US and worldwide.
            </p>
        </div>
        <hr /><hr />
        <mark1><h1>Doctor's Specialization:</h1></mark1>
        <details>
            <summary>General</summary>
            <p style="background-color:darkkhaki">
                In the medical profession, a general practitioner (GP) is a medical doctor who treats acute and chronic illnesses and provides preventive care and health education to patients of all ages.
                A general practitioner manages types of illness that present in an undifferentiated way at an early stage of development, which may require urgent intervention. The holistic approach of general practice aims to take into consideration the biological, psychological, and social factors relevant to the care of each patient's illness. Their duties are not confined to specific organs of the body, and they have particular skills in treating people with multiple health issues. They are trained to treat patients of any age and sex to levels of complexity that vary between countries.
            </p>
        </details>
        <details>
            <summary>Internal Medicine</summary>
            <p style="background-color:darkkhaki">
                Internal medicine physicians, or internists, are specialists who apply scientific knowledge and clinical expertise to the diagnosis, treatment, and compassionate care of adults across the spectrum from health to complex illness. They are especially well trained in the diagnosis of puzzling medical problems, in the ongoing care of chronic illnesses, and in caring for patients with more than one disease. Internists also specialize in health promotion and disease prevention.
            </p>
        </details>
        <details>
            <summary>Pediatrics</summary>
            <p style="background-color:darkkhaki">
                One of the many things you need to do to prepare for your baby's arrival is to choose a doctor to oversee their health care. A pediatrician is a medical doctor who manages the physical, behavioral, and mental care for children from birth until age 18. A pediatrician is trained to diagnose and treat a broad range of childhood illnesses, from minor health problems to serious diseases.
                Pediatricians have graduated from medical school and completed a 3-year residency program in pediatrics. A board-certified pediatrician has passed rigorous exams given by the American Board of Pediatrics. To remain certified, pediatricians have to meet regular continuing education requirements.
            </p>
        </details>
        <details>
            <summary>Orthopedics</summary>
            <p style="background-color:darkkhaki">
                An orthopedic surgeon is trained in the diagnosis and treatment of spinal disorders, arthritis, sports injuries, trauma, and fractures. An orthopedic surgeon may complete additional training with a Spine Fellowship and specialize in spine surgery.
            </p>
        </details>
        <details>
            <summary>Ophthalmology</summary>
            <p style="background-color:darkkhaki">
                Ophthalmology is a branch of medicine that deals with the diagnosis and treatment of eye disorders. An ophthalmologist is a physician who specializes in eye care. The credentials include a degree in medicine, followed by additional four to five years of residency training in ophthalmology. Residency training programs for ophthalmology may require a one-year internship with training in internal medicine, pediatrics, or general surgery.
            </p>
        </details>


