@model Project.Models.login
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
    <style>
        body {
            background-image: url("https://t4.ftcdn.net/jpg/01/18/61/65/360_F_118616519_k7bfYYxDnEeem4oIgIGttiCi46xIfIbG.jpg");
            background-size: cover;
        }
    </style>
<center>
    <p>
        <h1><font color="white">-----------Please Enter Valid UserName & Password-------------</font></h1>
    </p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <input type="submit" value="Back to LogIn" />

    }
</center>

